/* A few examples of common global variables */
$COLOR_WHITE: #FFF;
$COLOR_BLACK: #000;
$FONT_HELVETICA_THIN: "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
$FONT_HELVETICA_BOLD: "HelveticaNeueW01-75Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;