/.settings/
/OrionSecurityWeb/target/
/OrionSecurityWeb/.settings/
/OrionSecurityProd/target/
/OrionSecurityProd/.settings/
/OrionSecurityWidgetset/target/
/OrionSecurityWidgetset/.settings/
/OrionSecurityBusiness/target/
/OrionSecurityBusiness/.settings/